<h1>start a party!</h1>
<div style="margin-bottom: 40px; padding:15px"; class="container grey lighten-5">

  <% if @party.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@party.errors.count, "error") %>
        prohibited this party from being saved:
      </h2>
  
      <ul>
      <% @party.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for @party  do |f| %>
      
      <div class="form_div"><%= f.label :date %></div>
      <div class="form_div"><%= f.date_field :date %></div>
      <br>
      <div class="form_div"><%= f.label :time %></div>
      <div class="form_div"><%= f.time_field :time %></div>
      <br>
      <div class="form_div"><%= collection_radio_buttons(:party, :park_id, Park.all, :id, :name) %></div>
      <br>
      

      <button class="btn waves-effect waves-light" type="submit" name="action">Create Party
    <i class="material-icons right">send</i>
  </button>
    <% end %>
</div>

