<div class="container cards">


    <div class="card2">
        <h4>Park -  <%= @park.name %> </h4>
        <h4>Location -  <%= @park.location %></h4>
        <h4>Has Dog Area: -  <%= @park.has_dog_specific_area %></h4>
        <img  class="park_pic" src="<%= @park.park_img %>" alt="">
    </div>


<% if @current_user && @current_user.favorites.find { |fav| fav.park_id == @park.id } %>

    <% if @current_user %>
        <%= button_to 'Add to favorites', favorites_path , method: :post, params: { park_id: @park.id, user_id: @current_user.id }, style:"color: white; font-family: Trebuchet MS, Helvetica, sans-serif" %>
    <% else %>
        <%= button_to 'Sign up to add to your favorites', new_user_path, method: :get, style:"color: white; font-family: Trebuchet MS, Helvetica, sans-serif" %>
    <% end  %> 
<% end %>

</div>