<div class="container grey lighten-5">
  <h1>Add a Pup!</h1>

   <% if @dog.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@dog.errors.count, "error") %>
        prohibited this party from being saved:
      </h2>
  
      <ul>
      <% @dog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for @dog do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :breed %>
    <%= f.text_field :breed %>

    <%= f.label 'Energy Level - Low/Med/High' %>
    <%= f.text_field :energy_level %>

    <%=f.label 'Picture Image Link' %>
    <%=f.text_field :picture %>

    <%= f.submit %>
  <% end %>
</div>