<h1>Add a Pup!</h1>
<div style="margin-bottom: 40px; padding:15px"; class="container grey lighten-5">
   <% if @dog.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@dog.errors.count, "error") %>
        prohibited this party from being saved:
      </h2>
  
      <ul>
      <% @dog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for @dog do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :breed %>
    <%= f.text_field :breed %>

    <%= f.label 'Energy Level - Low/Med/High' %>
    <%= f.text_field :energy_level %>

    <%=f.label 'Picture Image Link' %>
    <%=f.text_field :picture %>

      <button class="btn waves-effect waves-light" type="submit" name="action">Create Dog
    <i class="material-icons right">send</i>
  </button>
  <% end %>
</div>