<div class="container">

    <h3><%= @user.name.capitalize %>'s profile</h3>

        <% if @current_user && @current_user.id == @user.id %>
            <a class="waves-effect waves-light btn"><%= button_to 'Add a Pup', new_dog_path, method: :get %></a>
            <a class="waves-effect waves-light btn"><%= button_to 'Favorite a Park', parks_path, method: :get %></a>
            <a class="waves-effect waves-light btn"><i class="material-icons right"></i><%= button_to 'Start a Party', new_party_path, method: :get %></a>
        <% end %>
<hr>
<h4>My Pups</h4>
    <main class="cards">
        <% @user.dogs.each do |dog|%>
            <article class="card z-depth-3">
                <img src="<%= dog.picture %>">
                <div class="text">
                    <h3><%= dog.name %></h3>
                    <button class="grey lighten-2"><%= link_to dog.name, dog_path(dog) %></button>
                </div>
            </article>
        <% end %>
    </main> 
        <hr>
        <h4>My Parties</h4>
        <br>

    <main class="cards">
        <% @user.parties.each do |party|%>
            <% park = Park.all.find { |park| park.id == party.park_id }%>
            <article class="card z-depth-3">
                <img src="<%= park.park_img %>">
                <div class="text">
                    <h3>It's a party at <%= park.name %></h3>
                    <p>On ##date## <%= party.date %> at ##time## <%= party.time %> </p>
                    <button><%= link_to 'Join the Party!', party_path(party) %></button>
                </div>
            </article>
        <% end %>
    </main> 
    
        <hr>
        <h4>My Parks</h4>
        <br>

    <main class="cards">
        <% @user.favorites.each do |favorite|%>
            <% park = Park.all.find { |park| park.id == favorite.park_id }%>
            <article class="card z-depth-3">
                <img src="<%= park.park_img %>">
                <div class="text">
                    <h3><%= park.name %></h3>
                </div>
            </article>
        <% end %>
    </main>
</div>