<!DOCTYPE html>
<html>
  <head>
    <title>Pandemicpup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body class="teal lighten-5">
    <div class="container">
       <nav>
          <div class="nav-wrapper teal lighten-2 z-depth-2">
            <a href="#" class="brand-logo center">Pup Party</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li><a href="<%= parks_path %>">Parks</a></li>
              <li><a href=<%= parties_path %>>Parties</a></li>
              <li><a href=<%= dogs_path %>>Pups</a></li>
            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <% if @current_user %>
                  <li><a href="<%= logout_path %>">Log Out</a></li>
              <% else %>
                  <li><a href="<%= new_session_path %>">Sign In!</a></li>
                  <li><a href=<%= new_user_path %>>Sign Up!</a></li>
              <% end %>
            </ul>
          </div>
        </nav>
        <!-- Page Layout here -->
    <div class="row">

      <div class="col s3 grey z-depth-4">
        <a class=" col s12 waves-effect waves-light btn-large"><i class="material-icons left">location_on</i>My Parks</a>
        <a class=" col s12 waves-effect waves-light btn-large"><i class="material-icons left">pets</i>My Pups</a>
        <a class=" col s12 waves-effect waves-light btn-large"><i class="material-icons left">people</i>My Parties</a>
      </div>

      <div class="col s9 indigo lighten-3 z-depth-4">
      <%= yield %>
      </div>

    </div>





    </div>
  </body>
</html>
